<form id="new-board-form">

 <label>Title
    <input type="text" name="board[title]" value="<%= attrs['title'] %>"></input>
  </label>

  <input class="btn" type="submit" id="submit-new-board"></input>

</form>

<a href="#/">Back to Boards Index</a>